{% extends "base.html" %}

{% block body %}
<div class="container">
    <h5 class="mt-3 mb-0">Cadastre um novo fornecedor:</h5>
    <form class="form-validation" method="POST" action="{% url 'supplier_register' %}">{% csrf_token %}
        <div class="col-12 w-50">
            <div class="input-group mt-1 mb-3">
                <input id="search-input" value="{{name}}" type="text" class="form-control" placeholder="Nome do Fornecedor" aria-label="Nome do fornecedor" aria-describedby="button-addon2" name="name" id="name">
                <button class="btn btn-primary" type="submit" id="button-addon2">Cadastrar</button>
            </div>
            <div class="input-group mb-3">
                <select id="search-results" class="form-select" size="5" style="display: none;"></select>
            </div>
        </div>
    </form>
</div>


{% endblock %}